{% extends 'base.html.twig' %}

{% block title %}Tous les Animaux du Zoo{% endblock %}

{% block body %}
<h1>Liste des Animaux</h1>

<ul>
    {% for animal in animaux %}
        <li>{{ animal.nom }} - {{ animal.famille }} - {{ animal.continent }}</li>
    {% endfor %}
</ul>

<a href="{{ path('add_animaux') }}">Ajouter un nouvel Animal</a>
<a href="{{ path('add_familles') }}">Ajouter une nouvelle Famille</a>
<a href="{{ path('add_XXXXXXX') }}">Ajouter un nouveau Continent</a>
<a href="{{ path('add_zoos') }}">Ajouter un nouveau Zoo</a>
{% endblock %}
